
/* GLOBAL */
*{
    box-sizing:border-box;
}
.btn{
    font-weight:bold;
    color:white;
    border:none;
    transition:background-color 0.4s;
}


/* chat box */
.history-box{
    position:absolute;
    height:90vh;
    width:50%;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    
    color:white;  
}

/* box header */
.history-header{
    
    display:flex;
    flex-direction: row wrap;
    align-items: center;
    height:10%;
    width:100%;
    background-color: #075e54;
    
}

.header-title{
    font-size:2rem;
    margin:0.25rem 1rem;
}

/* messages area */
.chat-history{
    overflow-y:scroll;
    height:70%;
    background-color: #ece5dd;
}

.message{
    margin:1.2rem 1rem;
    min-height:40px;
    height:auto;
    width:auto;
   
    
}

.msg-buttons{
    display:flex;
    justify-content: end;
    height:2rem;
    width:auto;
    
   
}
.msg-btn{
    
    height: 100%;
    margin:0.2rem 0.2rem;
    border-radius:5px;
}

#edit-btn{
    background-color:#128c7e;
    
}

#edit-btn:hover{
    background-color:#0d645a;
}
#remove-btn{
    background-color:#ff7373;
}

#remove-btn:hover{
    background-color:#c95b5b;
}

.msg-content{
    width:100%; 
    background-color: #dcf8c6;
    color:black;
    padding:1.5rem;
    border-radius: 1rem;
    
    
}

/* messages area - editing */
.msg-box-edit{
    border:none;
    resize: none;
    width:100%;
}

/* input area */
.message-box{
    display:flex;
    align-items: start;
    justify-content: space-around;
    background-color: #128c7e;
    height:20%;
}

.msg-box-item{
    margin:20px 10px;
}
#message-text{
    height:70%;
    width:80%;
    resize:none;
    border:solid #25d366;
    border-radius:1rem;
}

#btn-send{
    width:6rem;
    height:3rem;
    background-color: #25d366;
    border-radius:10px;
}


#btn-send:hover{
    background-color: #1ea550;
}

/* Media queries */
@media(max-width: 680px){
    .header-title{
        font-size:1.5rem;
        
    }
}